.App {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.app-contenido {
  display: flex;
  width: 206vh;
  height: 88vh;
  margin-top: 20px;
  justify-content: space-between;
  margin: 0;
}
